/* #back{
    background-color: blue;
    background-size: 100%;
} */
#clockContainer{
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw;
    background: url(cl.png) no-repeat;
    background-size: 100%;
}
#hours , #minutes , #seconds{
    position: absolute;
    
    border-radius: 10px;
    transform-origin: bottom;

}
#hours{
    background: black;
    height: 20%;
    width: 2%;
    top: 30%;
    left: 49%;
    opacity: 0.9;

}
#minutes{
    background: black;
    height: 26%;
    width: 1.5%;
    top: 24.15%;
    left: 49.25%;
    opacity: 0.9;
    

}
#seconds{
    background: orange;
    height: 34%;
    width: 1%;
    top: 15.90%;
    left: 49.5%;
    opacity: 0.9
    
}